{% extends 'base.html' %}
{% load static %}
{% block head %}

    <link rel="stylesheet" type="text/css" href="{% static "css/products/home_page.css" %}">
                <div class="cart">
                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    В корзине:
                    <a href="{% url 'cart_detail' %}">
                    {{ total_items }} шт ,${{ cart.get_total_price }}
                    </a>
                    {% else %}
                        Корзина пустая
                    {% endif %}
                    {% endwith %}
                </div>
{% endblock %}
{% block content %}
    <div class="container">

    {% if prod_photos %}
        {% for product in prod_photos %}
            <a href="{{ product.product.slug }}">
            <div class="row product-card">
                <div class="col-lg-5">
                    <img style="object-fit: cover; width: 100%; height: 100%" src="{{ product.image.url }}"><br>
                </div>

                <div class="col-lg-7">
                    Категория: {{ product.product.category }} <br>
                    Товар: {{ product.product.title }} <br>
                    Описание: {{ product.product.description }} <br>
                    Цена: {{ product.product.price }} <br>
                </div>
                <div>

                </div>
            </div>
            <hr>

        {% endfor %}
    {% endif %}
    </div>

{% endblock%}
