{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">

    {% if prod_photos %}
        {% for product in prod_photos %}
            <div class="row">
                <div class="col-lg-5">
                    <img style="object-fit: cover; width: 100%; height: 100%" src="{{ product.image.url }}"><br>
                </div>

                <div class="col-lg-7">
                    Категория: {{ product.product.category }} <br>
                    Товар: {{ product.product.title }} <br>
                    Описание: {{ product.product.description }} <br>
                    Цена: {{ product.product.price }} <br>
                </div>
            </div>
            <hr>

        {% endfor %}
    {% endif %}
    </div>

{% endblock%}
